
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="card" *ngFor="let item of articulos" >
                <h5 class="card-header"></h5>
                <div class="card-body">
                    <h5 (click)="irAlDetalle(item)" class="card-title">Nombre: {{item.title}}</h5>
                    <p class="card-text">Descripción: {{item.body}}</p>
                </div>
            </div>
        </div>
        <!-- <div class="col-md-12">
            <div class="card">
                <h5 class="card-header">Título</h5>
                <div class="card-body">
                    <h5 class="card-title">Nombre:</h5>
                    <p class="card-text">Descripción:</p>
                    <p class="card-text">Fecha</p>
                </div>
            </div>
        </div>
        <div class="col-md-12">
            <div class="card">
                <h5 class="card-header">Título</h5>
                <div class="card-body">
                    <h5 class="card-title">Nombre:</h5>
                    <p class="card-text">Descripción:</p>
                    <p class="card-text">Fecha</p>
                </div>
            </div>
        </div> -->
    </div>
</div>